<!-- # 2 create -->
<form action="/articles" method="post">
<label for="title">Title:</label>
<input id= "title" type="text" name="title"><br>
<label for="content">Content:</label>
<input id="content" type="text" name="content"><br>
<input type="submit" value="Submit">
</form>